<div id="contact" class="row vh-100 contact-bg text-center align-items-center">
  <div class="col">
    <div class="row">
      <div class="col h2 my-5">Want to get in touch?</div>
    </div>
    <div class="row">
      <div class="col">
        <a href="https://github.com/motheblackcat" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      </div>
      <div class="col">
        <a href="https://www.linkedin.com/in/morad-elhamdouni/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      </div>
      <div class="col">
        <a href="mailto:morad.elhamdouni@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
      </div>
    </div>
  </div>
</div>
