<section id="home" class="vh-100 flex flex-center">
     <article>
          <h1>Hey there I'm Morad!</h1>
          <h4><em>A web developer that specialize on the client side of things.</em></h4>
          <p>
               I specialize on front-end development mainly using <a href="https://angular.io" target="_blank">Angular</a> for web projects and <a href="https://ionicframework.com/" target="_blank">Ionic</a> for mobile, I also enjoy React and Vue.
               Feel free to check some of my personal projects below, you can also check my working history and get in touch via <a href="https://www.linkedin.com/in/morad-elhamdouni/" target="_blank">Linkedin</a>.
          </p>
     </article>
</section>