<section id="home" class="flex vhw-100">
  <div class="flex flex-center flex-wrap m-auto">
    <article>
      <div>Hey there I'm Morad!</div>
      <div><i>A Web Developer that specialize on the client side of things.</i></div>
      <br>
      <p>I participated to multiple projects in different domains and will continue to do so while still pursing my quest for knowledge.</p>
      <p class="flex flex-align-center">
        Contact me through
        <a href="https://www.linkedin.com/in/morad-elhamdouni/" target="_blank"><i
            class="fab fa-2x fa-linkedin"></i></a>
            or
        <a href="mailto:morad.elhamdouni@gmail.com"><i class="fas fa-2x fa-envelope"></i></a>
      </p>
      <p>These are some of the languages and tools I use</p>
    </article>
    <article class="grid">
      <img src="assets/logo_html.svg" alt="" width="40" height="40">
      <img src="assets/logo_css.svg" alt="" width="40" height="40">
      <img src="assets/logo_js.svg" alt="" width="40" height="40">
      <img src="assets/logo_ts.svg" alt="" width="40" height="40">
      <img src="assets/logo_git.svg" alt="" width="40" height="40">
      <img src="assets/logo_github.svg" alt="" width="40" height="40">
      <img src="assets/logo_angular.svg" alt="" width="40" height="40">
      <img src="assets/logo_ionic.svg" alt="" width="40" height="40">
    </article>
  </div>
</section>