section {
  background: url("https://images.alphacoders.com/985/thumb-1920-985802.png") center / cover fixed;
}

.angular:hover {
  color: #dd0031;
}

.react:hover {
  color: #61dafb;
}

.vue:hover {
  color: #41b883;
}

.unity:hover {
  color: grey;
}
