section {
    background-color: #0d1117;

    article {
        width: 40%;
        min-height: 150px;
        border: 1px solid white;
        border-radius: 25px;
        padding: 20px;

        .topic {
            text-transform: capitalize;
            border: 1px solid white;
            border-radius: 25px;
            padding: 5px 10px;
        }

        .color-dot {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            border-radius: 100%;
        }
    }
}