<section id="work">

  @if (zen$ | async; as zen) {
  <article>
    <q>{{ zen }}</q> <i>- Github Zen</i>
  </article>
  }

  @if (repos$ | async; as repos) {
    @for (repo of repos; track $index) {
      <article>
        <a [href]="repo.html_url" target="_blank"><b>{{ repo.name }}</b></a>
        <label *ngFor="let topic of repo.topics">{{ topic }}</label>
        <p>{{ repo.description }}</p>
        <div class="color-dot" [style.background-color]="getDotColor(repo.language)"></div>
        <i>{{ repo.language }}</i>
      </article>
    }
  }

</section>