// article {
//     font-size: 1.2em;
//     text-align: center;
//     margin-bottom: 40px;

//     a {
//         text-decoration: underline;
//     }
// }

// .card {
//     border: white solid 1px;
//     border-radius: 6px;
//     margin: 8px;
//     padding: 16px;
//     width: 40%;
//     min-height: 120px;

//     a {
//         color: rgb(47, 129, 247);
//     }

//     label {
//         border: white solid 1px;
//         border-radius: 24px;
//         padding: 2px 7px;
//         margin-left: 10px;
//         text-transform: capitalize;
//     }

    .color-dot {
        width: 15px;
        height: 15px;
        margin-right: 10px;
        border-radius: 100%;
    }
// }

// @media screen and (max-width: 800px) {
//     .card {
//         width: 100%;

//         &:last-child {
//             display: none;
//         }
//     }
// }