nav {
  position: fixed;
  top: 0;
  width: 97%;
  padding: 30px;

  #title {
    .name {
      font-size: 1.5em;
    }
  }

  #links {
    a {
      margin: 10px;
      padding: 10px;
      border: 2px solid gray;
      border-radius: 5px;

      &:hover {
        border: 2px solid white;
      }

      i {
        margin-right: 10px;
        pointer-events: none;
      }

    }

    .active {
      color: white;
      border: 2px solid white;
    }
  }
}