<nav class="flex flex-between">
  <div id="title" class="flex flex-column flex-justify-center">
    <div class="name">Morad El Hamdouni</div>
    <div class="job">Web Developer Front</div>
  </div>
  <div id="links" class="flex">
    <a href="#home" (click)="selectSection($event)"><i class="fas fa-home"></i>Home</a>
    <a href="#work" (click)="selectSection($event)"><i class="fas fa-code"></i>Work</a>
    <a href="#contact" (click)="selectSection($event)"><i class="fas fa-at"></i>Contact</a>
  </div>
</nav>