nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.2em;

  div {
    padding: 20px;
  }

  a {
    color: grey;
    outline: 0;
    text-decoration: none;
    margin-left: 30px;
  }

  .active {
    color: white;
  }
}
