<article class="flex flex-column flex-justify-center flex-between">
  <header class="flex flex-align-center flex-between">
    <a [href]="repo()?.html_url" target="_blank"><b>{{ repo()?.name }}</b></a>
    @for (topic of repo()?.topics; track $index) { <div class="topic">{{ topic }}</div> }
  </header>
  <div>
    <p>{{ repo()?.description }}</p>
    <p><a [href]="repo()?.homepage">{{ repo()?.homepage }}</a></p>
  </div>
  <footer class="flex">
    <div class="color-dot" [style.background-color]="getDotColor(repo()?.language)"></div>
    <i>{{ repo()?.language }}</i>
  </footer>
</article>