header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.2em;
  padding: 20px 0;
  box-sizing: border-box;

  nav {
    width: 80%;

    a {
      color: grey;
      outline: 0;
      text-decoration: none;
    }
  
    .active {
      color: white;
    }
  }
}
