/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss?ngGlobalStyle (1) ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Google Roboto font */
/* TODO: Refactor global classes */
html,
body {
  font-family: "Roboto";
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  /* Global links behaviour */
  /* Size & position helpers */
  /* Icons */
  /* Backgrounds */
}
html a,
body a {
  text-decoration: none;
  color: grey;
  outline: 0;
}
html a:hover,
body a:hover {
  color: white;
}
html .vhw-100,
body .vhw-100 {
  height: 100vh;
  width: 100vw;
}
html .flex,
body .flex {
  display: flex;
}
html .flex-center,
body .flex-center {
  justify-content: center;
  align-items: center;
}
html .flex-between,
body .flex-between {
  justify-content: space-between;
}
html .angular,
body .angular {
  margin-left: 10px;
}
html .angular:hover,
body .angular:hover {
  color: #dd0031;
}
html .fa-linkedin:hover,
body .fa-linkedin:hover {
  color: #1a85e9;
}
html .fa-envelope:hover,
body .fa-envelope:hover {
  color: tan;
}
html .home-bg,
body .home-bg {
  background: url('intro-bg.png') center/cover fixed;
}
html .work-bg,
body .work-bg {
  background: url('work-bg.png') center/cover fixed;
}
html .contact-bg,
body .contact-bg {
  background: url('contact-bg.png') center/cover fixed;
}

/*# sourceMappingURL=styles.css.map*/