@import url("app/styles/helpers.scss");

html,
body {
  font-family: "Arial";
  // scroll-behavior: smooth;
  // overflow: hidden;
  // margin: 0;
  // padding: 0;
  color: white;
  background-color: black;
}