/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto";
  background-color: black;
  color: white;
  margin: 0;
  height: 100%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
  color: grey;
  margin: 0 15px;
}
