@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");  /* Google Roboto font */
@import '~bootstrap/dist/css/bootstrap.min.css'; /* Bootstrap styles */

body {
  scroll-behavior: smooth;
  font-family: "Roboto";
  background-color: black;
  color: white;

  a {
    text-decoration: none;
    color: white;
    outline: 0;
  }

  .angular:hover {
    color: #dd0031;
  }

  .intro-bg {
    background: url("assets/intro-bg.png") center / cover fixed;
  }

  .work-bg {
    background: url("assets/work-bg.png") center / cover fixed;
  }
  
  .contact-bg {
    background: url("assets/contact-bg.png") center / cover fixed;
  }
}
